@font-face {
    font-family: SF-Regular;
    src: url(San-Francisco/SFUIDisplay-Regular.otf);
  }

@font-face {
    font-family: SF-Bold;
    src: url(San-Francisco/SFUIDisplay-Bold.ttf);
  }

@font-face {
    font-family: SF-Thin;
    src: url(San-Francisco/SFUIDisplay-Thin.otf);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url(img/sean-sinclair-fq1t-jpinwI-unsplash.jpg); 
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: SF-Regular;
}

.panel{
    width: 75%;
    height: 80%;
    display: flex;
    border-radius: 25px;
    gap: 20px;
}

img{
    width: 50px;
}

.nav{
    flex: 1;
    display: grid;
    grid-template: 10% 50% 30% / 100%;
    gap: 20px;
    padding: 2vh 3vh;
    border-radius: 25px;
    background-color: #00000050;
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.4), rgba(255,255,255,0.25));
}


.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
}

.logo i{
    font-size: 1.5vw;
}

.mainTabs{
    display: flex;
    align-items: center;
}

.mainTabs ul, .helpTabs ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mainTabs li, .helpTabs li{
    display: flex;
    font-family: SF-Bold;
    font-size: 0.9vw;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    padding: 1vh 1.2vw;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.helpTabs li{
    width: 9.8vw;
}

.mainTabs li:hover, .helpTabs li:hover{
    background-color: rgba(17, 17, 17, 0.4);
}

.helpTabs{
    display: flex;
    align-items: center;
}

.content{
    flex: 6;
    display: grid;
    grid-template: 10% 15% 70% / 100%;
    gap: 10px;
}

.topPanel{
    padding: 2vh 5vh;
    border-radius: 25px;
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background: linear-gradient(135deg, rgba(22, 22, 22, 0.4), rgba(255,255,255,0.25));
    font-size: 0.9vw;
}

.search{
    display: flex;
}

.searchBar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
    gap: 10px;
}

.topPanel .fa-magnifying-glass, .topPanel .fa-bell, .topPanel .fa-circle-user{
    font-size: 1.2vw;
}

#searchBarInput{
    border-radius: 25px;
    height: 3.6vh;
    width: 25vw;
    background: rgba(255,255,255,0.25);
    border: none;
    color: white;
    text-align: center;
    font-family: SF-Bold;
    font-size: 2.3vh;
}

.profileSummary{
    font-family: SF-Bold;
    font-size: 1.1vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    gap: 20px;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 2vh 2vw;
    border-radius: 25px;
    background-color: #00000050;
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background: linear-gradient(135deg, rgba(22, 22, 22, 0.4), rgba(255,255,255,0.25));
    font-size: 0.9vw;
}

.profile .fa-circle-user{
    font-size: 8vh;
    flex: 0.2;
}

.welcome{
    flex: 1.5;
    font-size: 1vw;
}

#userName{
    font-family: SF-Bold;
}

.profileButtons{
    flex: 4;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.buttons{
    border-radius: 10px;
    background: rgba(29, 29, 29, 0.25);
    border: none;
    color: white;
    padding: 1vh 1vw;
    font-size: 1vw;
    font-family: SF-Bold;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.buttons:hover{
    background-color: rgba(17, 17, 17, 0.4);
}

.bottomPanel{
    display: grid;
    grid-template: 50% 50% / 70% 30%;
    gap: 10px;
}

.projects{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 100%;
    padding: 1vw;
    border-radius: 25px;
    background-color: #00000050;
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background: linear-gradient(135deg, rgba(22, 22, 22, 0.4), rgba(255,255,255,0.25));
    font-size: 0.9vw;
}

.projectBox{
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background-color: #00000060;
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    font-size: 0.9vw;
}

.projectBox .title{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px 25px 0 0px;
    background: #00000070;
    width: 100%;
    height: 30%;
    text-align: center;
    font-size: 0.55vw;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.projectBox .title a{
    color: white;
    text-decoration: none;
}

.projectBox .title:hover{
    background-color: #00000095;
    text-decoration: none;
    
}

.projectBox .title a:hover{

}

.projectBox .projectText{
    font-size: 1vw;
    padding: 1vw;
}

.annoucements{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 97.2%;
    padding: 2vh 2vw;
    border-radius: 25px;
    background-color: #00000050;
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background: linear-gradient(135deg, rgba(22, 22, 22, 0.4), rgba(255,255,255,0.25));
    font-size: 0.9vw;
}

.trending{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 97.2%;
    height: 100%;
    padding: 2vh 2vw;
    border-radius: 25px;
    background-color: #00000050;
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background: linear-gradient(135deg, rgba(22, 22, 22, 0.4), rgba(255,255,255,0.25));
    font-size: 0.9vw;
}





